appdirs
asteval
blitzdb
colorama
dictdiffer
docopt
eight
flask
future
lxml
nose
numpy
peewee
progressbar-ipython
pyprind
requests
scipy
stats-arrays==0.3.2
unicodecsv
unidecode
voluptuous
whoosh
xlrd
xlsxwriter
